/* div+p {
    color: red;
} */

/* div div p+button {
    color: blue;
} */

/* div div+p {
    color: green;
} */

div div~p+button {
    color: red;
}

.solix>p {
    color: chartreuse;
}

.solix>div p {
    color: brown;
}

/* .solix div > p {} */